.footer{
    background-color: rgba(25, 25, 25, 1);
    width: 1300px;
    height: 338px;
    padding: 0 120px;
    color: #fff;
    .wrapper_footer{
        display: flex;
        align-items: center;
        gap: 100px;
        ul{
            padding-top: 56px;
            line-height: 24px;
            h6{
                font-weight: 700;
                font-style: 20px;
            }
        }
        ul li{
            list-style-type: none;
        }
        .footer_logo{
            padding-top: 56px;
        }

    }
}