h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-style: 40px;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-style: 40px;
}

